/* Layout */
body {
		min-width: 630px;
}
		
#container {
	padding-left: 200px;
	padding-right: 190px;
}
		
		
#container .column {
	position: relative;
	float: left;
}
		
		#center {
			padding: 10px 20px;
			width: 100%;
		}
		
		#left {
			width: 180px;
			padding: 0 10px;
			right: 240px;
			margin-left: -100%;
		}
		
		#right {
			width: 130px;
			padding: 0 10px;
			margin-right: -100%;
		}
		
		#footer {
			clear: both;
		}
		
		
		/* IE hack */
		* html #left {
			left: 150px;
		}

		/* Make the columns the same height as each other */
		#container {
			overflow: hidden;
		}

		#container .column {
			padding-bottom: 1001em;
			margin-bottom: -1000em;
		}

		/* Fix for the footer */
		* html body {
			overflow: hidden;
		}
		
		* html #footer-wrapper {
			float: left;
			position: relative;
			width: 100%;
			padding-bottom: 10010px;
			margin-bottom: -10000px;
			background: #fff;
		}

		/* Aesthetics */
		body {
			margin: 0;
			padding: 0;
			font-family:Sans-serif;
			line-height: 1.5em;
		}
		
		p {
			color: black;
		}

		nav ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		
		nav ul a {
			color: darkgreen;
			text-decoration: none;
		}

		table, th, td {
			border: 1px solid black;
		}
		
		#header, #footer {
			font-size: large;
			padding: 0.3em;
			background: #BCCE98;
			text-align: center;
		}

		#left {
			background: #DAE9BC;
		}
		
		#right {
			background: #F7FDEB;
		}

		#center {
			background: #fff;
		}

		#container .column {
			padding-top: 1em;
		}
		
		#top{
		float:left;
		padding-top: 10px;
		padding-bottom: 10px;
		border: black;
		width:20%;
		text-align:center;
		background: #FCCE98;
		}

		#hours{
		border: black;
		text-align: center;
		list-style-type: none;
		width:100%;
		}